{% if
    gitlab_manage_backup_path is defined or
    gitlab_backup_path is defined or
    gitlab_backup_archive_permissions is defined or
    gitlab_backup_pg_schema is defined or
    gitlab_backup_keep_time is defined or
    gitlab_days_old_backups is defined
%}

###############################
# GitLab backup settings #
###############################

{% if gitlab_manage_backup_path is defined %}gitlab_rails['manage_backup_path'] = {{ gitlab_manage_backup_path | lower }}
{% endif %}
{% if gitlab_backup_path is defined %}gitlab_rails['backup_path'] = "{{ gitlab_backup_path }}"
{% endif %}
{% if gitlab_backup_archive_permissions is defined %}gitlab_rails['backup_archive_permissions'] = {{ gitlab_backup_archive_permissions }}
{% endif %}
{% if gitlab_backup_pg_schema is defined %}gitlab_rails['backup_pg_schema'] = '{{ gitlab_backup_pg_schema }}'
{% endif %}
{% if gitlab_backup_keep_time is defined %}gitlab_rails['backup_keep_time'] = {{ gitlab_backup_keep_time }}
{% elif gitlab_days_old_backups is defined %}gitlab_rails['backup_keep_time'] = {{ gitlab_days_old_backups * 86400 }}
{% endif %}
{% endif %}
{#
Need to implement the rest of these
gitlab_rails['backup_upload_connection'] = {
  'provider' => 'AWS',
  'region' => 'eu-west-1',
  'aws_access_key_id' => 'AKIAKIAKI',
  'aws_secret_access_key' => 'secret123'
}
gitlab_rails['backup_upload_remote_directory'] = 'my.s3.bucket'
gitlab_rails['backup_multipart_chunk_size'] = 104857600
gitlab_rails['backup_encryption'] = 'AES256'
gitlab_rails['backup_encryption_key'] = '<base64-encoded encryption key>'
gitlab_rails['backup_storage_class'] = 'STANDARD'
gitlab_rails['env'] = {
    "SKIP" => "db,uploads,repositories,builds,artifacts,lfs,registry,pages"
}
#}
