{% if
    gitlab_db_adapter is defined or
    gitlab_db_encoding is defined or
    gitlab_db_database is defined or
    gitlab_db_pool is defined or
    gitlab_db_username is defined or
    gitlab_db_password is defined or
    gitlab_db_host is defined or
    gitlab_db_port is defined or
    gitlab_db_socket is defined
%}

############################
# GitLab database settings #
############################

{% endif %}
{% if gitlab_db_adapter is defined -%}
    gitlab_rails['db_adapter'] = "{{ gitlab_db_adapter }}"
{% endif %}
{% if gitlab_db_encoding is defined -%}
    gitlab_rails['db_encoding'] = "{{ gitlab_db_encoding }}"
{% endif %}
{% if gitlab_db_database is defined -%}
    gitlab_rails['db_database'] = "{{ gitlab_db_database }}"
{% endif %}
{% if gitlab_db_pool is defined -%}
    gitlab_rails['db_pool'] = {{ gitlab_db_pool }}
{% endif %}
{% if gitlab_db_username is defined -%}
    gitlab_rails['db_username'] = "{{ gitlab_db_username }}"
{% endif %}
{% if gitlab_db_password is defined -%}
    gitlab_rails['db_password'] = {{ gitlab_db_password }}
{% endif %}
{% if gitlab_db_host is defined -%}
    gitlab_rails['db_host'] = {{ gitlab_db_host }}
{% endif %}
{% if gitlab_db_port is defined -%}
    gitlab_rails['db_port'] = {{ gitlab_db_port }}
{% endif %}
{% if gitlab_db_socket is defined -%}
    gitlab_rails['db_socket'] = {{ gitlab_db_socket }}
{% endif %}