{% if
    gitlab_nginx_enable is defined or
    gitlab_nginx_client_max_body_size is defined or
    gitlab_nginx_redirect_http_to_https is defined or
    gitlab_nginx_redirect_http_to_https_port is defined or
    gitlab_nginx_ssl_certificate_path is defined or
    gitlab_nginx_ssl_certificate_key_path is defined or
    gitlab_nginx_ssl_ciphers is defined or
    gitlab_nginx_ssl_prefer_server_ciphers is defined or
    gitlab_nginx_ssl_protocols is defined or
    gitlab_nginx_ssl_session_cache is defined or
    gitlab_nginx_ssl_session_timeout is defined or
    gitlab_nginx_listen_addresses is defined or
    gitlab_nginx_listen_port is defined or
    gitlab_nginx_custom_gitlab_server_config is defined or
    gitlab_nginx_custom_nginx_config is defined or
    gitlab_nginx_dir is defined or
    gitlab_nginx_log_directory is defined or
    gitlab_nginx_worker_processes is defined or
    gitlab_nginx_worker_connections is defined or
    gitlab_nginx_sendfile is defined or
    gitlab_nginx_tcp_nopush is defined or
    gitlab_nginx_tcp_nodelay is defined or
    gitlab_nginx_gzip is defined or
    gitlab_nginx_gzip_http_version is defined or
    gitlab_nginx_gzip_comp_level is defined or
    gitlab_nginx_gzip_proxied is defined or
    gitlab_nginx_gzip_types is defined or
    gitlab_nginx_keepalive_timeout is defined or
    gitlab_nginx_cache_max_size is defined
%}

################
# GitLab Nginx #
################

{% endif %}
{% if gitlab_nginx_enable is defined %}nginx['enable'] = {{ gitlab_nginx_enable | lower }}
{% endif %}
{% if gitlab_nginx_client_max_body_size is defined %}nginx['client_max_body_size'] = '{{ gitlab_nginx_client_max_body_size }}'
{% endif %}
{% if gitlab_nginx_ssl_key is defined or gitlab_nginx_ssl_enabled == True %}
{% if gitlab_nginx_redirect_http_to_https is defined %}nginx['redirect_http_to_https'] = {{ gitlab_nginx_redirect_http_to_https | lower }}
{% endif %}
{% if gitlab_nginx_redirect_http_to_https_port is defined %}nginx['redirect_http_to_https_port'] = {{ gitlab_nginx_redirect_http_to_https_port }}
{% endif %}
{% if gitlab_nginx_ssl_certificate_path is defined %}nginx['ssl_certificate'] = "{{ gitlab_nginx_ssl_certificate_path }}"
{% endif %}
{% if gitlab_nginx_ssl_certificate_key_path is defined %}nginx['ssl_certificate_key'] = "{{ gitlab_nginx_ssl_certificate_key_path }}"
{% endif %}
{% if gitlab_nginx_ssl_ciphers is defined %}nginx['ssl_ciphers'] = "
    {%- for cipher in gitlab_nginx_ssl_ciphers -%}
        {{ cipher }}{% if not loop.last %}:{% endif -%}
    {%- endfor -%}
"
{% endif %}
{% if gitlab_nginx_ssl_prefer_server_ciphers is defined %}nginx['ssl_prefer_server_ciphers'] = "{{ gitlab_nginx_ssl_prefer_server_ciphers }}"
{% endif %}
{% if gitlab_nginx_ssl_protocols is defined %}nginx['ssl_protocols'] = "
    {%- for protocol in gitlab_nginx_ssl_protocols -%}
        {{ protocol }}{% if not loop.last %} {% endif -%}
    {%- endfor -%}
"
{% endif %}
{% if gitlab_nginx_ssl_session_cache is defined %}nginx['ssl_session_cache'] = "{{ gitlab_nginx_ssl_session_cache }}"
{% endif %}
{% if gitlab_nginx_ssl_session_timeout is defined %}nginx['ssl_session_timeout'] = "{{ gitlab_nginx_ssl_session_timeout }}"
{% endif %}
{% endif %}
{% if gitlab_nginx_listen_addresses is defined %}nginx['listen_addresses'] = [
    {%- for address in gitlab_nginx_listen_addresses -%}
        '{{ address }}'{% if not loop.last %}, {% endif -%}
    {%- endfor %}
]
{% endif %}
{% if gitlab_nginx_listen_port is defined -%}
    nginx['listen_port'] = {{ gitlab_nginx_listen_port }}
{% endif %}
{% if gitlab_nginx_custom_gitlab_server_config is defined %}nginx['custom_gitlab_server_config'] = "{{ gitlab_nginx_custom_gitlab_server_config }}"
{% endif %}
{% if gitlab_nginx_custom_nginx_config is defined %}nginx['custom_nginx_config'] = "{{ gitlab_nginx_custom_nginx_config }}"
{% endif %}
{% if gitlab_nginx_dir is defined %}nginx['dir'] = "{{ gitlab_nginx_dir }}"
{% endif %}
{% if gitlab_nginx_log_directory is defined %}nginx['log_directory'] = "{{ gitlab_nginx_log_directory }}"
{% endif %}
{% if gitlab_nginx_worker_processes is defined %}nginx['worker_processes'] = {{ gitlab_nginx_worker_processes }}
{% endif %}
{% if gitlab_nginx_worker_connections is defined %}nginx['worker_connections'] = {{ gitlab_nginx_worker_connections }}
{% endif %}
{% if gitlab_nginx_sendfile is defined %}nginx['sendfile'] = '{{ gitlab_nginx_sendfile }}'
{% endif %}
{% if gitlab_nginx_tcp_nopush is defined %}nginx['tcp_nopush'] = '{{ gitlab_nginx_tcp_nopush }}'
{% endif %}
{% if gitlab_nginx_tcp_nodelay is defined %}nginx['tcp_nodelay'] = '{{ gitlab_nginx_tcp_nodelay }}'
{% endif %}
{% if gitlab_nginx_gzip is defined %}nginx['gzip'] = "{{ gitlab_nginx_gzip }}"
{% endif %}
{% if gitlab_nginx_gzip_http_version is defined %}nginx['gzip_http_version'] = "{{ gitlab_nginx_gzip_http_version }}"
{% endif %}
{% if gitlab_nginx_gzip_comp_level is defined %}nginx['gzip_comp_level'] = "{{ gitlab_nginx_gzip_comp_level }}"
{% endif %}
{% if gitlab_nginx_gzip_proxied is defined %}nginx['gzip_proxied'] = "{{ gitlab_nginx_gzip_proxied }}"
{% endif %}
{% if gitlab_nginx_gzip_types is defined %}nginx['gzip_types'] = [
    {%- for type in gitlab_nginx_gzip_types -%}
        "{{ type }}"{% if not loop.last %}, {% endif %}
    {%- endfor %}
]
{% endif %}
{% if gitlab_nginx_keepalive_timeout is defined %}nginx['keepalive_timeout'] = {{ gitlab_nginx_keepalive_timeout }}
{% endif %}
{% if gitlab_nginx_cache_max_size is defined %}nginx['cache_max_size'] = '{{ gitlab_nginx_cache_max_size }}'
{% endif %}