{% if
  gitlab_ssh_host is defined or
  gitlab_time_zone is defined or
  gitlab_email_enabled is defined or
  gitlab_email_from is defined or
  gitlab_email_display_name is defined or
  gitlab_email_reply_to is defined or
  gitlab_default_can_create_group is defined or
  gitlab_username_changing_enabled is defined or
  gitlab_default_theme is defined or
  gitlab_restricted_visibility_levels is defined or
  gitlab_default_projects_features_issues is defined or
  gitlab_default_projects_features_merge_requests is defined or
  gitlab_default_projects_features_wiki is defined or
  gitlab_default_projects_features_snippets is defined or
  gitlab_default_projects_features_visibility_level is defined or
  gitlab_repository_downloads_path is defined or
  gitlab_gravatar_plain_url is defined or
  gitlab_gravatar_ssl_url is defined or
  gitlab_webhook_timeout is defined or
  gitlab_ldap_enabled is defined or
  gitlab_omniauth_enabled is defined or
  gitlab_backup_path is defined or
  gitlab_backup_keep_time is defined or
  gitlab_backup_upload_connection is defined or
  gitlab_backup_path is defined or
  gitlab_backup_keep_time is defined or
  gitlab_backup_upload_connection is defined or
  gitlab_git_data_dir is defined or
  gitlab_satellites_timeout is defined or
  gitlab_shell_ssh_port is defined or
  gitlab_extra_piwik_url is defined or
  gitlab_extra_piwik_id is defined or
  gitlab_extra_sign_in_text is defined or
  gitlab_env is defined or
  gitlab_extra_google_analytics_id is defined or
  gitlab_dir is defined or
  gitlab_log_directory is defined
%}

############################
# gitlab.yml configuration #
############################

{% endif %}
{% if gitlab_ssh_host is defined %}gitlab_rails['gitlab_ssh_host'] = '{{ gitlab_ssh_host }}'
{% endif %}
{% if gitlab_time_zone is defined %}gitlab_rails['time_zone'] = '{{ gitlab_time_zone }}'
{% endif %}
{% if gitlab_email_enabled is defined %}gitlab_rails['gitlab_email_enabled'] = '{{ gitlab_email_enabled | lower }}'
{% endif %}
{% if gitlab_email_from is defined %}gitlab_rails['gitlab_email_from'] = '{{ gitlab_email_from }}'
{% endif %}
{% if gitlab_email_display_name is defined %}gitlab_rails['gitlab_email_display_name'] = '{{ gitlab_email_display_name }}'
{% endif %}
{% if gitlab_email_reply_to is defined %}gitlab_rails['gitlab_email_reply_to'] = '{{ gitlab_email_reply_to }}'
{% endif %}
{% if gitlab_default_can_create_group is defined %}gitlab_rails['gitlab_default_can_create_group'] = {{ gitlab_default_can_create_group }}
{% endif %}
{% if gitlab_username_changing_enabled is defined %}gitlab_rails['gitlab_username_changing_enabled'] = {{ gitlab_username_changing_enabled }}
{% endif %}
{% if gitlab_default_theme is defined %}gitlab_rails['gitlab_default_theme'] = {{ gitlab_default_theme }}
{% endif %}
{% if gitlab_restricted_visibility_levels is defined %}
    {%- for level in gitlab_restricted_visibility_levels -%}gitlab_rails['gitlab_restricted_visibility_levels'] = [
        '{{ level }}'{% if not loop.last %}, {% endif -%}
    ]
    {%- endfor %}
{% endif %}
{% if gitlab_restricted_visibility_levels is defined %}gitlab_rails['gitlab_restricted_visibility_levels'] = {{ gitlab_restricted_visibility_levels }}
{% endif %}
{% if gitlab_default_projects_features_issues is defined %}gitlab_rails['gitlab_default_projects_features_issues'] = {{ gitlab_default_projects_features_issues | lower }}
{% endif %}
{% if gitlab_default_projects_features_merge_requests is defined %}gitlab_rails['gitlab_default_projects_features_merge_requests'] = {{ gitlab_default_projects_features_merge_requests | lower }}
{% endif %}
{% if gitlab_default_projects_features_wiki is defined %}gitlab_rails['gitlab_default_projects_features_wiki'] = {{ gitlab_default_projects_features_wiki | lower }}
{% endif %}
{% if gitlab_default_projects_features_snippets is defined %}gitlab_rails['gitlab_default_projects_features_snippets'] = {{ gitlab_default_projects_features_snippets | lower }}
{% endif %}
{% if gitlab_default_projects_features_visibility_level is defined %}gitlab_rails['gitlab_default_projects_features_visibility_level'] = '{{ gitlab_default_projects_features_visibility_level }}'
{% endif %}
{% if gitlab_repository_downloads_path is defined %}gitlab_rails['gitlab_repository_downloads_path'] = '{{ gitlab_repository_downloads_path }}'
{% endif %}

{% if gitlab_gravatar_plain_url is defined -%}
    gitlab_rails['gravatar_plain_url'] = '{{ gitlab_gravatar_plain_url | default('http://www.gravatar.com/avatar/%{hash}?s=%{size}&d=identicon') }}'
{% endif %}
{% if gitlab_gravatar_ssl_url is defined -%}
    gitlab_rails['gravatar_ssl_url'] = '{{ gitlab_gravatar_ssl_url | default('https://secure.gravatar.com/avatar/%{hash}?s=%{size}&d=identicon') }}'
{% endif %}
{% if gitlab_webhook_timeout is defined -%}
    gitlab_rails['webhook_timeout'] = {{ gitlab_webhook_timeout}}
{% endif -%}

{%- if gitlab_ldap_enabled is defined and gitlab_ldap_enabled == True %}
## For setting up LDAP
## see https://gitlab.com/gitlab-org/omnibus-gitlab/blob/629def0a7a26e7c2326566f0758d4a27857b52a3/README.md#setting-up-ldap-sign-in

gitlab_rails['ldap_enabled'] = {{ gitlab_ldap_enabled | lower }}
gitlab_rails['ldap_servers'] = YAML.load <<-EOS
{% for server in gitlab_ldap_servers %}
  {{ server.provider_id }}:
    label: '{{ server.label }}'
    host: '{{ server.host }}'
    port: {{ server.port }}
    uid: '{{ server.uid }}'
    method: '{{ server.method }}'
    bind_dn: '{{ server.bind_dn }}'
    password: '{{ server.password }}'
    active_directory: {{ server.active_directory | lower}}
    allow_username_or_email_login: '{{ server.allow_username_or_email_login }}'
    base: '{{ server.base }}'
    user_filter: '{{ server.user_filter }}'
{% endfor %}
EOS
{% endif -%}

{%- if gitlab_omniauth_enabled is defined %}
## For setting up omniauth
## see https://gitlab.com/gitlab-org/omnibus-gitlab/blob/629def0a7a26e7c2326566f0758d4a27857b52a3/README.md#omniauth-google-twitter-github-login

gitlab_rails['omniauth_enabled'] = {{ gitlab_omniauth_enabled | lower }}
gitlab_rails['omniauth_allow_single_sign_on'] = {{ gitlab_omniauth_allow_single_sign_on | lower }}
gitlab_rails['omniauth_block_auto_created_users'] = {{ gitlab_omniauth_block_auto_created_users | lower }}
gitlab_rails['omniauth_providers'] = [
{% for provider in gitlab_omniauth_providers %}
  {
    "name" => "{{ provider.name }}",
    "app_id" => "{{ provider.app_id }}",
    "app_secret" => "{{ provider.app_secret }}",
{% if provider.url is defined %}
    "url" => "{{ provider.url }}",
{% endif %}
{% if provider.args is defined %}
    "args" => { {{ provider.args }} }
{% endif %}
  }
{% endfor %}
]
{% endif -%}

{%- if
  gitlab_backup_path is defined or
  gitlab_backup_keep_time is defined or
  gitlab_backup_upload_connection is defined
%}
## For setting up backups
## see https://gitlab.com/gitlab-org/omnibus-gitlab/blob/629def0a7a26e7c2326566f0758d4a27857b52a3/README.md#backups

{% if gitlab_backup_path is defined %}gitlab_rails['backup_path'] = "{{ gitlab_backup_path | default('/var/opt/gitlab/backups') }}"
{% endif %}
{% if gitlab_backup_keep_time is defined %}gitlab_rails['backup_keep_time'] = {{ gitlab_backup_keep_time | default('604800') }}
{% endif %}
{% if gitlab_backup_upload_connection is defined %}
gitlab_rails['backup_upload_connection'] = {
  'provider' => '{{ gitlab_backup_upload_connection.provider }}',
  'region' => '{{ gitlab_backup_upload_connection.region }}',
  'aws_access_key_id' => '{{ gitlab_backup_upload_connection.aws_access_key_id }}',
  'aws_secret_access_key' => '{{ gitlab_backup_upload_connection.aws_secret_access_key }}'
}
gitlab_rails['backup_upload_remote_directory'] = '{{ gitlab_backup_upload_remote_directory }}'
{% endif %}
{% endif %}

{%- if gitlab_git_data_dir is defined %}
## For setting up different data storing directory
## see https://gitlab.com/gitlab-org/omnibus-gitlab/blob/629def0a7a26e7c2326566f0758d4a27857b52a3/README.md#storing-git-data-in-an-alternative-directory
## If you want to use a single non-default directory to store git data use:
git_data_dir "{{ gitlab_git_data_dir }}"
{% endif %}

{%- if gitlab_satellites_timeout is defined %}gitlab_rails['satellites_timeout'] = {{ gitlab_satellites_timeout | default('30') }}
{% endif %}

{%- if
  gitlab_shell_ssh_port is defined or
  gitlab_git_max_size is defined or
  gitlab_git_timeout is defined
%}
## GitLab Shell settings for GitLab
{% if gitlab_shell_ssh_port is defined %}gitlab_rails['gitlab_shell_ssh_port'] = {{ gitlab_shell_ssh_port }}
{% endif %}
{% if gitlab_git_max_size is defined %}gitlab_rails['git_max_size'] = {{ gitlab_git_max_size }}
{% endif %}
{% if gitlab_git_timeout is defined %}gitlab_rails['git_timeout'] = {{ gitlab_git_timeout }}
{% endif %}
{% endif %}

{%- if
  gitlab_extra_google_analytics_id is defined or
  gitlab_extra_piwik_url is defined or
  gitlab_extra_piwik_id is defined or
  gitlab_extra_sign_in_text is defined or
  gitlab_env is defined
%}
## Extra customization
{% if gitlab_extra_google_analytics_id is defined %}gitlab_rails['extra_google_analytics_id'] = '{{ gitlab_extra_google_analytics_id }}'
{% endif %}
{% if gitlab_extra_piwik_url is defined %}gitlab_rails['extra_piwik_url'] = '{{ gitlab_extra_piwik_url }}'
{% endif %}
{% if gitlab_extra_piwik_id is defined %}gitlab_rails['extra_piwik_site_id'] = '{{ gitlab_extra_piwik_id }}'
{% endif %}
{% if gitlab_extra_sign_in_text is defined %}gitlab_rails['extra_sign_in_text'] = '|
    ![Company Logo]({{ gitlab_extra_sign_in_text.company_logo_url }})
    [Learn more about {{ gitlab_extra_sign_in_text.company_name }}]({{ gitlab_extra_sign_in_text.company_url }})'
{% endif %}
{% endif %}

{%- if gitlab_env is defined %}
gitlab_rails['env'] =
  {% if gitlab_env.bundle_gemfile is defined %}
  'BUNDLE_GEMFILE' => "{{ gitlab_env.bundle_gemfile }}",
  {% endif %}
  {% if gitlab_env.path is defined -%}
  'PATH' => "{{ gitlab_env.path }}"
  {% endif %}
}
{% endif %}

{%- if
  gitlab_dir is defined or
  gitlab_log_directory is defined
%}
# We do not recommend changing these directories.
{% if gitlab_dir is defined %}gitlab_rails['dir'] = "{{ gitlab_dir }}"
{% endif %}
{% if gitlab_log_directory is defined %}gitlab_rails['log_directory'] = "{{ gitlab_log_directory }}"
{% endif %}
{% endif %}
