{% if
    gitlab_ci_schedule_builds_minute is defined or
    gitlab_ci_env is defined or
    gitlab_ci_username is defined or
    gitlab_ci_uid is defined or
    gitlab_ci_gid is defined
%}

#############
# GitLab CI #
#############

{% endif %}
{% if gitlab_ci_schedule_builds_minute is defined %}gitlab_ci['schedule_builds_minute'] = "0"
{% endif %}
{% if gitlab_ci_env is defined %}gitlab_ci['env'] = {
  'BUNDLE_GEMFILE' => "{{ gitlab_ci_env.bundle_gemfile }}",
  'PATH' => "{{ gitlab_ci_env.path }}"
}
{% endif %}
{% if gitlab_ci_username is defined %}gitlab_ci['username'] = "gitlab-ci"
{% endif %}
{% if gitlab_ci_uid is defined %}gitlab_ci['uid'] = nil
{% endif %}
{% if gitlab_ci_gid is defined %}gitlab_ci['gid'] = nil
{% endif %}