# --- GitLab Configuration --- #
{% if gitlab_nginx_ssl_key is defined or gitlab_nginx_ssl_enabled == True %}
external_url "https://{{ gitlab_fqdn }}{% if gitlab_nginx_ssl_port | int != 443 %}:{{ gitlab_nginx_ssl_port }}{% endif %}"
{% else %}
external_url "http://{{ gitlab_fqdn }}"
{% endif -%}

{% include 'gitlab.rb/000_gitlab.yml.j2' %}
{% include 'gitlab.rb/010_gitlab_application.j2' %}
{% include 'gitlab.rb/015_gitlab_backup.j2' %}
{% include 'gitlab.rb/020_gitlab_database.j2' %}
{% include 'gitlab.rb/030_gitlab_email.j2' %}
{% include 'gitlab.rb/040_gitlab_user.j2' %}
{% include 'gitlab.rb/050_gitlab_unicorn.j2' %}
{% include 'gitlab.rb/060_gitlab_sidekiq.j2' %}
{% include 'gitlab.rb/070_gitlab_shell.j2' %}
{% include 'gitlab.rb/080_gitlab_postgresql.j2' %}
{% include 'gitlab.rb/090_gitlab_redis.j2' %}
{% include 'gitlab.rb/100_gitlab_webserver.j2' %}
{% include 'gitlab.rb/110_gitlab_nginx.j2' %}
{% include 'gitlab.rb/120_gitlab_logging.j2' %}
{% include 'gitlab.rb/130_gitlab_git.j2' %}
