{% if
    gitlab_ci_redis_host is defined or
    gitlab_ci_redis_port is defined or
    gitlab_ci_redis_socket is defined
%}

############################
# GitLab CI redis settings #
############################

{% endif %}
{% if gitlab_ci_redis_host is defined %}gitlab_ci['redis_host'] = "{{ gitlab_ci_redis_host }}"
{% endif %}
{% if gitlab_ci_redis_port is defined %}gitlab_ci['redis_port'] = {{ gitlab_ci_redis_port }}
{% endif %}
{% if gitlab_ci_redis_socket is defined %}gitlab_ci['redis_socket'] = "{{ gitlab_ci_redis_socket }}"
{% endif %}