{% if
    gitlab_ci_smtp_enable is defined or
    gitlab_ci_smtp_address is defined or
    gitlab_ci_smtp_port is defined or
    gitlab_ci_smtp_user_name is defined or
    gitlab_ci_smtp_password is defined or
    gitlab_ci_smtp_domain is defined or
    gitlab_ci_smtp_authentication is defined or
    gitlab_ci_smtp_enable_starttls_auto is defined or
    gitlab_ci_smtp_tls is defined or
    gitlab_ci_smtp_openssl_verify_mode is defined
%}

###################################
# GitLab CI email server settings #
###################################

{% endif %}
{% if gitlab_ci_smtp_enable is defined %}gitlab_ci['smtp_enable'] = {{ gitlab_ci_smtp_enable | lower }}
{% endif %}
{% if gitlab_ci_smtp_address is defined %}gitlab_ci['smtp_address'] = "{{ gitlab_ci_smtp_address }}"
{% endif %}
{% if gitlab_ci_smtp_port is defined %}gitlab_ci['smtp_port'] = {{ gitlab_ci_smtp_port }}
{% endif %}
{% if gitlab_ci_smtp_user_name is defined %}gitlab_ci['smtp_user_name'] = "{{ gitlab_ci_smtp_user_name }}"
{% endif %}
{% if gitlab_ci_smtp_password is defined %}gitlab_ci['smtp_password'] = "{{ gitlab_ci_smtp_password }}"
{% endif %}
{% if gitlab_ci_smtp_domain is defined %}gitlab_ci['smtp_domain'] = "{{ gitlab_ci_smtp_domain }}"
{% endif %}
{% if gitlab_ci_smtp_authentication is defined %}gitlab_ci['smtp_authentication'] = "{{ gitlab_ci_smtp_authentication }}"
{% endif %}
{% if gitlab_ci_smtp_enable_starttls_auto is defined %}gitlab_ci['smtp_enable_starttls_auto'] = {{ gitlab_ci_smtp_enable_starttls_auto | lower }}
{% endif %}
{% if gitlab_ci_smtp_tls is defined %}gitlab_ci['smtp_tls'] = {{ gitlab_ci_smtp_tls | lower }}
{% endif %}
{% if gitlab_ci_smtp_openssl_verify_mode is defined %}gitlab_ci['smtp_openssl_verify_mode'] = {{ gitlab_ci_smtp_openssl_verify_mode | lower }}
{% endif %}