{% if
    gitlab_ci_unicorn_worker_processes is defined or
    gitlab_ci_unicorn_worker_timeout is defined or
    gitlab_ci_unicorn_listen is defined or
    gitlab_ci_unicorn_port is defined or
    gitlab_ci_unicorn_socket is defined or
    gitlab_ci_unicorn_pidfile is defined or
    gitlab_ci_unicorn_tcp_nopush is defined or
    gitlab_ci_unicorn_backlog_socket is defined
%}

#####################
# GitLab CI Unicorn #
#####################

{% endif %}
{% if gitlab_ci_unicorn_worker_processes is defined %}ci_unicorn['worker_processes'] = {{ gitlab_ci_unicorn_worker_processes }}
{% endif %}
{% if gitlab_ci_unicorn_worker_timeout is defined %}ci_unicorn['worker_timeout'] = {{ gitlab_ci_unicorn_worker_timeout }}
{% endif %}
{% if gitlab_ci_unicorn_listen is defined %}ci_unicorn['listen'] = '{{ gitlab_ci_unicorn_listen }}'
{% endif %}
{% if gitlab_ci_unicorn_port is defined %}ci_unicorn['port'] = {{ gitlab_ci_unicorn_port }}
{% endif %}
{% if gitlab_ci_unicorn_socket is defined %}ci_unicorn['socket'] = '{{ gitlab_ci_unicorn_socket }}'
{% endif %}
{% if gitlab_ci_unicorn_pidfile is defined %}ci_unicorn['pidfile'] = '{{ gitlab_ci_unicorn_pidfile }}'
{% endif %}
{% if gitlab_ci_unicorn_tcp_nopush is defined %}ci_unicorn['tcp_nopush'] = {{ gitlab_ci_unicorn_tcp_nopush | lower }}
{% endif %}
{% if gitlab_ci_unicorn_backlog_socket is defined %}ci_unicorn['backlog_socket'] = {{ gitlab_ci_unicorn_backlog_socket }}
{% endif %}